:root {
    --skyLogo:#00255B;

    --eau:#8EADDC;
    --eauBorder:#265044;
    --terre: #D49F77;
    --terreBorder: #7C3815;
    --tech: #FEC085;
    --techBorder: #C06E24;
    --air: #97BFE2;
    --airBorder: #2A86AF;
    --vie: #9CCD96;
    --vieBorder: #528E48;
    --mort-vivant:#A0A1B3;
    --mort-vivantBorder: #6D6B6C;
    --feu: #E68E76;
    --feuBorder: #B53A32;
    --magie: #B896C9;
    --magieBorder: #4E234E;
    --lumiere:#F5DF6E;
    --lumiereBorder: #7B7037;
    --tenebres:#3E4E6F;
    --tenebresBorder: #1f2738;
    --lengendary: #50515A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-size: 100vw 100vh;
    font-family: skylandersReg;
}
.spyros-adventure {
    background: url('../img/cloud.png') no-repeat fixed;
    background-size: cover;
}
.giants {
    background: linear-gradient(#EA4E15, #FEEE02 33% 67%, #EA4E15) no-repeat fixed;
}
.trap-team {
    background: linear-gradient(#090B37 0% 10%, #402671 30% 50%, #225073 65% 75%,#090B37) no-repeat fixed;
}
.superchargers {
    background: linear-gradient(#EA4E15 40%, #FEEE02) no-repeat fixed;
}
.imaginators {
    background: url('../img/imagine.png') no-repeat fixed;
    background-size: cover;
}

ul {
    list-style: none;
}

/* Header */
header {
    text-align: center;
    margin-top: 10px;
}
header .logo {
    width: 300px;
    margin: 5px 0;
}
    /* Logo nav Skylanders */
#precedent, #suivant {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#precedent img, #suivant img {
    width: 75px;
    transition: transform 0.5s;
}
#precedent img:hover, #suivant img:hover {
    transform: scale(1.2);
    z-index: 1000;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #79C2EC;
    width: 60%;
    margin: 10px auto;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 20px;
}
header form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btns {
    margin-top: 10px;
}
#btnForm, #btnChoixJeu, #reset, #btnCollecte, #btnCollection {
    cursor: pointer;
    background: white;
    color: var(--skyLogo);
    border: 1px solid var(--skyLogo);
    border-radius: 5px;
    padding: 5px;
    font-family: skylandersReg;
    transition: border 0.5s, color 0.5s, background 0.5s;
}
#btnForm:hover, #btnChoixJeu:hover {
    color: white;
    background: var(--skyLogo);
    border-color: white;
}
#reset {
    color: red;
    border-color: red;
}
#reset:hover {
    color: white;
    background: red;
    border-color: white;
}
#btnCollecte, #btnCollection {
    color: #646464;
    border-color: #646464;
}
#btnCollecte:hover, #btnCollection:hover {
    color: white;
    background: #646464;
    border-color: white;
}

h1#count {
    margin: 10px 0;
    text-align: center;
    text-shadow: 0 0 1rem white, 0 0 2rem white;
}

/* Cartes */
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
main article {
    border: 2px solid;
    border-radius: 20px;
    width: 285px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
main h1 {
    text-align: center;
}
main .imgCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main img, #collectionForm img {
    width: 150px;
    margin: 0 auto;
}
main .stats {
    display: flex;
}
main .stats > * {
    margin: 0 auto;
}
main .collecte {
    width: 50%;
    margin: 5px auto;
	border: 1px solid;
    padding: 5px 0;
}
.collecte.trouve {
    color: green;
	border-color: green;
	background: #e7ffde;
}
.collecte.search {
    color: red;
	border-color: red;
	background: #ffdede;
}
main .collecte > * {
    text-align: center;
}

/* Carte élément */
.eau {
    background: var(--eau);
    border-color: var(--eauBorder);
}
.terre {
    background: var(--terre);
    border-color: var(--terreBorder);
}
.tech {
    background: var(--tech);
    border-color: var(--techBorder);
}
.feu {
    background: var(--feu);
    border-color: var(--feuBorder);
}
.vie {
    background: var(--vie);
    border-color: var(--vieBorder);
}
.mort-vivant {
    background: var(--mort-vivant);
    border-color: var(--mort-vivantBorder);
}
.air {
    background: var(--air);
    border-color: var(--airBorder);
}
.magie {
    background: var(--magie);
    border-color: var(--magieBorder);
}
.lumière {
    background: var(--lumiere);
    border-color: var(--lumiereBorder);
}
.ténèbres {
    background: var(--tenebres);
    border-color: var(--tenebresBorder);
}
.imagine {
    background: white;
    border-color: black;
}
.kaos {
    background: black;
    color: white;
    border-color: white;
}

.legendary {
    background: var(--lengendary);
    border-color: black;
    color: white;
}

/* Collecte */
#collecteBody.spyros-adventure {
    background: radial-gradient(#9ac810 50%, #3b9636);
}
#collecteBody.giants {
    background: radial-gradient(#ef5d10 50%, #a73e05);
}
#collecteBody.swap-force {
    background: radial-gradient(#97c0c6 50%, #2d758e);
}
#collecteBody.trap-team {
    background: radial-gradient(#ef0916 25%, #740400);
    color: white;
}
#collecteBody.superchargers {
    background: radial-gradient(#cd7f32 50%, #974826);
}
#collecteBody.imaginators {
    background: radial-gradient(#4f4f4f 50%, #000000);
    color: white;
}

#collecteBody {
    text-align: center;
}
#collecteBody a {
    text-decoration: none;
    color: black;
    background: white;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
}
#collecteBody a:hover {
    text-decoration: underline;
}
#collecteBody h1, #collecteBody h2 {
    font-family: skylandersReg;
}
#collecteBody h1 {
    margin: 10px 0;
}
#collecteBody h2 {
    margin: 10px 0;
}

#collecteBody #collectionForm {
    display: flex;
    flex-wrap: wrap;
}
#collecteBody #btnCollection {
    margin: 10px auto;
    width: 85%;
    background: #646464;
    color: white;
}
#collecteBody #btnCollection:hover {
    background: black;
    border-color: black;
}
#collecteBody table {
    margin: 0 auto;
    width: 100%;
    display: inline-table;
    justify-content: center;
    flex-wrap: wrap;
    border-collapse: collapse;
}
#collecteBody table tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#collecteBody table td {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 190px;
    min-height: 215px;
    border: 1px solid black;
}
#collecteBody label {
    word-break: break-word;
}

@media all and (max-width: 1184px) {
    header nav {
        width: 95%;
    }
}
@media all and (max-width: 750px) {
    header form {
        flex-direction: column;
    }
    header form > *:not(:last-child) {
        margin-bottom: 10px;
    }
    form #check {
        flex-direction: row;
    }
    form #check label {
        margin-right: 5px;
    }
}